* {
	font-family: 'Helvetica';
	font-weight: 400;
	margin: 0;
	padding: 0;
}

#title {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	color: #0984e3;
	margin-top: 30px;
}

#main {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 100px 200px 100px 100px;

}

#player {
	background-color: #74b9ff;
	width: 40%;
	height: 150px;
}

#computer {
	background-color: #ff7675;
	width: 40%;
	height: 150px;
}

#player-description,
#computer-description {
	display: flex;
	justify-content: space-between;

}

#player-pick,
#computer-pick {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 20px 20px 20px;
	
}

.gameImg{
	width: 60px;
	max-width: 80px;
	margin-left: 15px;
	opacity: .2;
}

.gameImg:hover{
	opacity:  2;
}



#messageResult {
	display: flex;
	justify-content: center;
	margin: 100px 200px 100px 100px;
	background-color: lightslategray;
border-radius: 5px;
padding: 20px;
}